# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# delve output
debug

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE ignore file
.dockerignore
.vscode
.idea
.readmes

# Enviroment parameters
.env

demo2-380909-e4b0b8e6ef79.json